[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
django-debug-toolbar = "*"
djoser = "*"
mysqlclient = "2.2.2"


[dev-packages]

[requires]
python_version = "3.11"
