{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<section>
   <article>
      <h1>Menu item</h1>
      <span>
         <a href="{% url 'home' %}">Home</a> /
         <a href="{% url 'menu-items' %}">Menu</a>/
         {{menu_item.title}}
      </span>
      <!--Begin row-->
      <div class="row">
         <!--Begin col-->
         <div class="column">
            {% if messages %}
            <article id="messages" style="background-color:rgb(206, 110, 110);">
               <ul >
                     {% for message in messages %}
                     <li>{{ message }}</li>
                     {% endfor %}
                     <li>{{ error }}</li>
               </ul>
            </article>
            {% else %}
            <h2>
               {{ menu_item.title }}
            </h2>
            <p>
                Price: ${{ menu_item.price }}
            </p>
            <p>
                Inventory: {{ menu_item.inventory }}
            </p>
            {% endif %}
         </div>
         <!--End col-->
         <!--Begin col-->
         <div class="column">
            <img src="/Final Assessment/littlelemon/restaurant/static/img/{{menu_item.name}}.jpg" alt="{{ menu_item.name}}" />
        </div>
         <!--End col-->
      </div>
      <!--End row-->
   </article>
</section>
{% endblock %}