{% extends 'base.html' %}
{% load static %}
{% block content %}

<p>Fill the form to register a new user.</p>
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    {% if request.method == "POST" and not serializer.is_valid %}
        <article id="messages" style="background-color:rgb(206, 110, 110);">
            <p>Could not create the user. Please fix the below errors and re-submit:</p>
                {% for key, value in serializer.errors.items %}
                <p>{{key}}: {% for error in value %} {{error.title}} {% endfor %}</p>
                {% endfor %}
        </article>
    {% endif%}
    {% if request.method == "POST" and serializer.is_valid %}
        <p>{{success_message}}</p>
        {% if not request.user.is_authenticated %}
            <p>Now make sure to log in here: <a href="{% url 'login-view'%}">Log In</a></p>
        {% endif %}
    {% endif%}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br>
    <button type="submit" class="cta">Register</button>
</form>



{% endblock %}